<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Finished</title>
</head>
<body style="font-family: Helvetica">
    <center>
        <b style="font-size: 150px; color: rgb(130, 255, 130); margin-top: 10%">&#10003;</b>
        <p style="color: black; font-size: 2rem; margin-top: 5%">Congratulations, {{ winnings }}$ is deposited to your account</p>
        <p style="width: 50%"><a href="/hit_or_pass" style="text-decoration: none; color: seagreen">Play Again</a></p>

    </center>
</body>
</html>