<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Partnership | The White Casino</title>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400&display=swap');
        p{
            font-family: 'Open Sans', sans-serif;
            font-size: 1rem;
            margin-left: 5%;
            width: 50%
        }
    </style>
</head>
<body>
    <div style="border-bottom: 1px solid lightgray; box-shadow: 0 1px 2px 0 rgba(60,64,67,.3),0 2px 6px 2px rgba(60,64,67,.15);">
        <img onclick="document.location = '/'" style="padding-left: 50px; width: 250px; padding-top: 5px" src="/assets/logo.png" alt=""/>
    </div>
    <p style="font-size: 5rem; margin-left: 5%; width: 60%">Make money promoting our brand.</p>
    <p>If you are a content creator looking to provide value to your followers start with The White Casino Affiliate Program. Get your affiliate link bellow.</p>
    <p>We offer 70% commission for direct affiliates and 5% commission as a sub-affiliate program. Meaning that you do not only make money from your own referrals but also make money from your referrals' referrals as well.</p>
    <br>
    <span style="background-color: rgb(79, 105, 126); color: rgb(255, 255, 255); padding: 9px; border-radius: 5px; margin-left: 5%; font-family: 'Open Sans'">{{ affiliate_link }}</span>
    <button class="buttonBlue" style="margin-left: 2%; background-color: #3ddc84; color: white; padding: 14px 20px; border: none; cursor: pointer; width: 25%; border-radius: 5%;" onclick="document.location = '/banners'">Download Banners</button>
</body>
</html>